<div class="navbar has-background-dark">
  <div class="navbar-item">
    <div class="navbar-brand">
<!--      <img src="/assets/logo-taskease.png">-->
      <h1 class="app-name has-gradient-text">TaskEase</h1>
    </div>
  </div>
</div>

<div class="centered-content">
  <div class="project-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Projects
      </h1>
      <div class="project-menu">
        <a class="project-menu-item" *ngFor="let project of projects" [routerLink]="['/projects', project._id]" routerLinkActive="is-active">
          <p>{{ project.title }}</p>
        </a>
      </div>
      <button class="button is-primary has-text-white" routerLink="/new-project">+ New Project</button>
    </div>
    <div class="project-kanban-board-container has-background-light">
      <div class="kanban-whole-wrapper" *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            Kanban board
          </h1>

          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item" [routerLink]="['/edit-project/', selectedProjectId]">
                  Edit
                </a>
                <a (click)="onDeleteProjectClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>

        </div>


        <div class="board-wrapper" *ngIf="tasks.length !== 0">

          <div class="board-columns" cdkDropListGroup>
            <div class="board-column"
                 cdkDropList
                 id="to-do-list"
                 [cdkDropListConnectedTo]="['doing-list', 'done-list']"
                 [cdkDropListData]="toDoTasks"
                 (cdkDropListDropped)="drop($event)">

              <div class="column-title">
                To do
              </div>

              <div class="tasks-container">
                <div class="task" *ngFor="let item of toDoTasks" cdkDrag>
                  <div class="task-text">
                    {{item.title}}
                  </div>
                  <div class="task-buttons">
                    <button class="button is-small" [routerLink]="['/projects', selectedProjectId, 'edit-task', item._id]">
                      <div class="icon">
                        <i class="fas fa-edit"></i>
                      </div>
                    </button>
                    <button class="button is-danger is-small" (click)="onDeleteTaskClick(item._id)">
                      <div class="icon">
                        <i class="fas fa-trash"></i>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="board-column"
                 cdkDropList
                 id="doing-list"
                 [cdkDropListConnectedTo]="['to-do-list', 'done-list']"
                 [cdkDropListData]="doingTasks"
                 (cdkDropListDropped)="drop($event)">

              <div class="column-title">
                In progress
              </div>

              <div class="tasks-container">
                <div class="task" *ngFor="let item of doingTasks" cdkDrag>
                  <div class="task-text">
                    {{item.title}}
                  </div>
                  <div class="task-buttons">
                    <button class="button is-small" [routerLink]="['/projects', selectedProjectId, 'edit-task', item._id]">
                      <div class="icon">
                        <i class="fas fa-edit"></i>
                      </div>
                    </button>
                    <button class="button is-danger is-small" (click)="onDeleteTaskClick(item._id)">
                      <div class="icon">
                        <i class="fas fa-trash"></i>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="board-column"
                 cdkDropList
                 id="done-list"
                 [cdkDropListConnectedTo]="['doing-list', 'to-do-list']"
                 [cdkDropListData]="doneTasks"
                 (cdkDropListDropped)="drop($event)">

              <div class="column-title">
                Done
              </div>

              <div class="tasks-container">
                <div class="task" *ngFor="let item of doneTasks" cdkDrag>
                  <div class="task-text">
                    {{item.title}}
                  </div>
                  <div class="task-buttons">
                    <button class="button is-small" [routerLink]="['/projects', selectedProjectId, 'edit-task', item._id]">
                      <div class="icon">
                        <i class="fas fa-edit"></i>
                      </div>
                    </button>
                    <button class="button is-danger is-small" (click)="onDeleteTaskClick(item._id)">
                      <div class="icon">
                        <i class="fas fa-trash"></i>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <h3 class="empty-state-text is-4" *ngIf="tasks.length === 0">There are no tasks in this project. Click the add button to create a new task.</h3>

        <button routerLink="./new-task"  class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.png"  id="plus-icon" />
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text is-4">Please select a project from the sidebar.</h3>
      </div>

    </div>

  </div>
</div>
