<div class="navbar has-background-dark">
  <div class="navbar-item">
    <div class="navbar-brand">
      <h1 class="app-name has-gradient-text">TaskEase</h1>
    </div>
  </div>
</div>

<div class="centered-content">
  <div class="project-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Projects
      </h1>
      <div class="project-menu">
        <a class="project-menu-item is-active">
          <p>Project #1</p>
        </a>
        <a class="project-menu-item">
          <p>Project #2</p>
        </a>
        <a class="project-menu-item">
          <p>Project #3</p>
        </a>
      </div>

      <button class="button is-primary has-text-white">+ New Project</button>
    </div>
    <div class="project-kanban-board-container has-background-light">
      <h1 class="title has-text-primary">
        Kanban board
      </h1>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column">

            <div class="column-title">
              To do
            </div>

            <div class="tasks-container"
                 cdkDropList
                 [cdkDropListData]="todo"
                 (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of todo" cdkDrag>{{item}}</div>
            </div>
          </div>

          <div class="board-column">

            <div class="column-title">
              In progress
            </div>

            <div class="tasks-container"
                 cdkDropList
                 [cdkDropListData]="doing"
                 (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of doing" cdkDrag>{{item}}</div>
            </div>
          </div>

          <div class="board-column">

            <div class="column-title">
              Done
            </div>

            <div class="tasks-container"
                 cdkDropList
                 [cdkDropListData]="done"
                 (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
          </div>
        </div>

      </div>

<!--      <div class="task">-->
<!--        <p>This is something I have to do</p>-->
<!--      </div>-->
<!--      <div class="task complete">-->
<!--        <p>This is something I have to do</p>-->
<!--      </div>-->
    </div>

  </div>
</div>
