<div class="navbar has-background-dark">
  <div class="navbar-item">
    <div class="navbar-brand">
      <h1 class="app-name has-gradient-text">TaskEase</h1>
    </div>
  </div>
</div>

<div class="centered-content">
  <div class="project-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Projects
      </h1>
      <div class="project-menu">
        <a class="project-menu-item" *ngFor="let project of projects" [routerLink]="['/projects', project._id]" routerLinkActive="is-active">
          <p>{{ project.title }}</p>
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/new-project">+ New Project</button>
    </div>
    <div class="project-kanban-board-container has-background-light">
      <h1 class="title has-text-primary">
        Kanban board
      </h1>

      <div class="board-wrapper">

        <div class="board-columns" cdkDropListGroup>
          <div class="board-column"
               cdkDropList
               [cdkDropListData]="toDoTasks"
               (cdkDropListDropped)="drop($event)">

            <div class="column-title">
              To do
            </div>

            <div class="tasks-container">
              <div class="task" *ngFor="let item of toDoTasks" cdkDrag>{{item.title}}</div>
            </div>
          </div>

          <div class="board-column"
               cdkDropList
               [cdkDropListData]="doingTasks"
               (cdkDropListDropped)="drop($event)">

            <div class="column-title">
              In progress
            </div>

            <div class="tasks-container">
              <div class="task" *ngFor="let item of doingTasks" cdkDrag>{{item.title}}</div>
            </div>
          </div>

          <div class="board-column"
               cdkDropList
               [cdkDropListData]="doneTasks"
               (cdkDropListDropped)="drop($event)">

            <div class="column-title">
              Done
            </div>

            <div class="tasks-container">
              <div class="task" *ngFor="let item of doneTasks" cdkDrag>{{item.title}}</div>
            </div>
          </div>
        </div>

      </div>

      <button class="circle-add-button button is-primary">
        <img id="plus-icon" src="../../../assets/plus-icon.svg" />
      </button>
    </div>

  </div>
</div>
